.wrapperForm {
  max-width: 320px;
  padding: 40px 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #efefef;
  border-radius: 3%;
  box-shadow: 4px 4px 29px 17px rgba(34, 60, 80, 0.2);
}

.titleForm {
  text-align: center;
  margin-bottom: 35px;
}
