.customBtn {
  width: 120px !important;
}
.name {
  margin: 0px 0px 10px 0px !important;
}
.email {
  margin: 0px 0px 10px 0px !important;
}

.id {
  margin: 0px 0px 10px 0px !important;
}

.textarea {
  resize: none;
  height: 120px !important;
}
