.customBtn {
  display: flex !important;
  align-items: center !important;
  max-width: 146px !important;
}

.wrapperIcon {
  margin-left: 10px;
}

.navLink {
  text-decoration: none;
  color: white;
}

.navLink:not(:first-child) {
  margin-left: 15px;
}

.navLink:hover,
.navLink:focus {
  color: #0d6efd;
}
